h1, h2, h3, h4, h5, h6, dl, dd, dt, p, address, input, select, ul, li, form {
  margin:0;padding:0;list-style:none;
}

a, a:visited {
  color:#3b548c;
  outline:none;
}

h1 a {text-decoration:none;}

a img {
  border:none;
}

.clear { clear:both; }

/* Header Styling */
#main_content h1 {
  color:#3B548C;
  font-size:22px;
  font-weight:normal;
  font-family:Georgia, "Times New Roman", sans-serif;
  margin:0px 0 12px; 
}

#main_content h2 {
  color:#4C2C6C;
  font-size:18px;
  font-weight:normal;
  font-family:Georgia, "Times New Roman", sans-serif;
  margin:2em 0 12px; 
}

#main_content h3 {
  color:#3B548C;
  font-size:15px;
  font-weight:normal;
  font-family:Georgia, "Times New Roman", sans-serif;
  margin:1em 0 .5em; 
}

/* FORMS */
form {overflow:hidden;}

fieldset {
  margin-top:20px;
  padding:10px;
  border:1px solid #b0b0b0;
}

legend {
  font-weight:bold;
}

form dl.own_line dd {
  margin-left:0;
}

form dl {
  clear:both;
  margin-bottom:8px;
}
form dt {
  float:left;
}
form dd {
  margin-left:130px;
}
form input.checkbox + label {
  padding-left:8px;
}

form fieldset li dl {
  margin-top:10px;
}

p.buttons {
  margin-top:2em;
}

a.button,
#adopter_login a,
form button {
  width:100px;
  display:inline-block;
  background:#3B548C;
  color:white !important;
  text-align:center;
  font-weight:bold;
  padding:4px 0;
  height:26px;
  border:none;
  text-decoration:none;
  font-size:12px;
  margin-right:10px;
  vertical-align:middle;
}

a.button { 
  height:18px;
  width:auto; 
  padding:4px 10px;
}

#main_content form fieldset h3 {
  margin-top:0;
}

#trainings ul { overflow:hidden; width:100%;}
#trainings ul.headers li { float:left; width:33%; font-weight:bold;}
#trainings ul.listings li { margin-bottom:5px; white-space:nowrap;}
#trainings li input { width:182px;}

#certifications ul { overflow:hidden; width:100%; }
#certifications li { float:left; }
#certifications ul.headers li {font-weight:bold;}
#certifications li.first { width:50%; }
#certifications li.second { width:25%;}
#certifications li.third { width:25%; }
#certifications li { margin-bottom:5px; white-space:nowrap;}
#certifications li select { width:283px; }
#certifications li input { width:137px; }
#trainings li a, #certifications li a {position:absolute;color:transparent;width:16px;height:16px;background:url(/images/admin/cancel.png);}

table.index {
  font-size: 90%;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  border-collapse:collapse;
}
table.index td, table.index th {
  text-align: left;
}
table.index th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom:2px solid #979797;
  border-top:1px solid #979797;
}
table.index td {
  border-top: 1px solid #eaeaea;
  padding: 4px;
}
table.index tbody tr.even td {
	background-color:#F7F7F6;
}
table.index th.headerSortUp {
	background-image: url(/images/table/desc.gif);
}
table.index th.headerSortDown {
	background-image: url(/images/table/asc.gif);
}
table.index tr th.headerSortDown, table.index tr th.headerSortUp {
	background-repeat:no-repeat;
	background-position:center right;
}
table.index caption {
  text-align:left;
  font-size:16px;
  font-weight:bold;
  color:#3b548c;
  padding-bottom:0;
  padding-top:20px;
  font-family:Georgia,"Times New Roman",serif;
}

label.error {
  color:red;
}

dd input + label.error,
dd select + label.error {
  display:block;
}

dd input.checkbox + label.error {
  display:inline;
  color:#4B453F;
}

p.error {
	padding:10px;
	margin:0 0 10px 0;
	color:red;
	border:1px solid red;
	background:#ffe;
	font-size:14px;
}

div.formError {
  color:red;
  margin-bottom:1em;
}