/** RESET GLOBAL STYLES **/

ul, li {
	list-style:none;
}

form, h1, h2, h3, h4, h5, h6, p, ol, ul, li, fieldset, legend, dl, dt, dd {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:normal;
}

a {
	text-decoration:none;
	border:none;
	outline:none;
	color:#336699;
}

a:active, a:visited {
    outline:none;
}

h1 a, h2 a, h3 a, strong a {
    color:#0090d3;
}

a:hover {
	text-decoration:none;
	color:black;
}

a.button:hover {
	text-decoration:none;
}

a img {
	border:none;
}

img {
    display:inline-block;
    overflow:hidden;
}

.clear {
	clear:both;
}


/***  mask bar at top of page   */

.mask {
  width: 100%;
  text-align: center;
  background-color: #FFAAAA;
}


/***  icons  ***/

button.icon,
a.icon {
  width: 15px;
  height: 15px;
  background-color:#fff;
  background-repeat: no-repeat;
  background-position: top left;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

a.icon:link, a.icon:visited {
  padding: 0;
}
button.icon:hover, 
a.icon:hover {
  background-position: top center;
  background-color: transparent;
  text-decoration: underline;
}
button.icon-disabled,
a.icon-disabled {
  background-position:top right;
}
button.icon-disabled:hover,
a.icon-disabled:hover {
  background-position: top right;
  background-color: transparent;
  text-decoration: none;
}

button.icon div,
a.icon div {
	width:15px;
	height:15px;
}
button.icon, a.icon {
	display:-moz-inline-box;
	display:inline-block;
}

div.icons form {
	display:inline;
}

ul.none {
  list-style-type:none;
}

ul.circle {
  list-style-type:circle;
}

.notice,
#notification {
	clear:both;
  	margin:0 0 10px 0;
  	padding:10px;
	color:#3e63b0;
	font-size:14px;
}

p.error {
  	padding:10px;
  	margin:0 0 10px 0;
	color:red;
	border:1px solid red;
	background:#ffe;
	font-size:14px;
}

#close_notice {
    text-indent:-1000em;
    width:16px;
    height:16px;
    margin-left:16px;
    background:url(/images/x.png) no-repeat top left;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
}

#close_notice:hover {
    background:url(/images/x-hover.png) no-repeat top left;
}

span.charcounter { 
	display:block;
	color:#d4145a;
	}

td.desc h3 span {
	color:#555;
	font-size:12px;
	padding-left:6px;
}

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	margin: 0px 0 0 4px;
	z-index:70;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin:0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
/*	width: 100%;
*/	font: menu;
	font-size: 10px;
	overflow: hidden;
	line-height:1.2em;
}

.ac_loading {
	background : Window url('/images/icons/indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}



.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

label.error { color: red; }
input.error, select.error {
  background:#ffe;border-color:red;
}