/* Photo Gallery / Albums */

div.album {
	padding:15px;
	margin:10px 0;
	border:1px solid #a8e8ff;
	overflow:hidden;
}

div.album a.image {
	float:left;
	width:200px;
	text-align:center;
}

div.album a.image img {
	max-width:200px;
	max-height:200px;
}

div.album div.details {
	margin-left:230px;
}

div.album h3 {
	font-size:20px;
	line-height:24px;
	padding-bottom:4px;
}

div.album div.details h3 a:hover {
	color:#ED1E79;
	font-weight:normal;
}



#buckets {
    float:right;
    display:inline;
    margin-right:2px;
    width:140px;
}
#trash {
  min-height:100px;
  background:url(/images/admin/bin.png) no-repeat center center;
  border:1px dotted #ccc;
  padding:4px;
  width:140px;
  height:140px;
}
#crop {
    width:140px;
    height:140px;
    line-height:100px;
    text-align:center;
    border:1px dotted #ccc;
    margin-top:5px;
}

#trash,
#right_col #thumbnails,
#thumbnails { 
  overflow:hidden;
  margin:0;
  padding:0;
  list-style:none ;
}
#trash li,
#thumbnails li {
  float:left;
  margin:0;
  padding:2px;
  list-style:none;
  background:none;
  width:200px;
  height:200px;
  overflow:hidden;
}

#thumbnails li img {
  width:200px;
  height:200px;
}

#slideshow {
  float:left;
}

#controls img {
  vertical-align:top;
}

#gallery_progress {
  vertical-align:top;
  line-height:1;
}

#preview_holder{
  float:right;
  margin-bottom:10px;
}
#preview_holder h3{
  font-weight:bold;
}
#image_cropper {
  float:left;
}
#image_cropper {
  margin-right:20px;
}
#crop_submit_btn {
  margin-left:20px;
	font-weight:bold;
	width:120px;
	vertical-align:middle;
	height:auto;
	background:#ddd;
	border:1px solid #999;
	color:#30343a;
	font-size:12px;
}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
