body {
  background:#FAF5F0;
/*  background:#4B453F;*/  
  color:#4B453F;
  margin:0px auto;
  font-size:12px;
  font-family:Georgia, "Times New Roman", Times, serif;
}

#container {
    margin:0px auto;
    min-width:950px;
    max-width:1400px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

#header {
  padding:6px 0;
}

#logo img {
  height:50px;
}

#footer {
  clear:both;
}

#aerial_types, #portrait_types, #event_date {
  display:none;
}

#loading {
    width:80%;
    height:100%;
    background:url(/images/loader.gif) center center no-repeat;
}

.noscript {display:none;}

#inquiry_types {
    height:200px;
    width:400px;
    overflow-y:auto;
    margin:10px 0;
}

#contact_message {
    height:60px;
}