@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\000031}}
#slideshow {
  float: left;
  width: 690px;
  height: 487px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\000036}}
  #slideshow .image-wrapper {
    position: absolute;
    left: 0;
    top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000311}}
  #slideshow a {
    border: none;
    text-decoration: none;
    line-height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000316}}
  #slideshow img {
    width: 680px;
    height: 453px;
    margin: 3px 0px 0px 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000321}}
  #slideshow span.frame {
    background: url(/images/theme/frame-large.png) no-repeat 0 0;
    display: block;
    position: absolute;
    width: 686px;
    height: 458px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000330}}
#thumbs {
  overflow: hidden;
  width: 136px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000335}}
#thumbs li {
  float: left;
  padding: 1px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  opacity: .5;
  filter: alpha(opacity=50); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000345}}
#gallery_wrap {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000349}}
#gallery_side_panel {
  float: right;
  width: 146px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000354}}
#thumbs_wrap {
  width: 132px;
  overflow: hidden;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000361}}
#thumbs .top.pagination {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000364}}
#thumbs .bottom.pagination {
  clear: both;
  text-align: center;
  padding: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000368}}
  #thumbs .bottom.pagination a, #thumbs .bottom.pagination span {
    padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000372}}
#thumbs ul.thumbs {
  height: 136px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000377}}
#gallery_controls {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000381}}
#gallery_controls p {
  text-align: center;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000386}}
#gallery_progress {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding-top: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000392}}
#controls {
  padding-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000394}}
  #controls div.ss-controls {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000397}}
  #controls div.nav-controls {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\0000399}}
    #controls div.nav-controls a {
      padding: 0 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_photo_gallery\.scss}line{font-family:\00003104}}
#text-content {
  clear: both;
  padding-top: 1em;
  line-height: 1.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\000031}}
#home-photos {
  margin-top: 25px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\000034}}
  #home-photos li {
    float: left;
    margin-left: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\000037}}
    #home-photos li:first-child {
      margin-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\000038}}
    #home-photos li a {
      display: block;
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\0000314}}
    #home-photos li:hover, #home-photos li a:hover {
      font-weight: bold;
      color: #70808D; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\0000316}}
    #home-photos li span.frame {
      background: url(/images/theme/frame-200x200.png) no-repeat 0 0;
      position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\0000320}}
    #home-photos li span.frame, #home-photos li img {
      display: block;
      width: 200px;
      height: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\0000329}}
#home-text h2 {
  font-size: 14px;
  color: #485C67;
  line-height: 150%;
  text-align: center;
  width: 520px;
  margin: 25px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/_home_page\.scss}line{font-family:\0000337}}
#home-text p {
  color: #6E7983;
  font-size: 12px;
  line-height: 150%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\000036}}
body {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1;
  color: #70808d;
  background: #70808d url(/images/theme/page-bg.png);
  margin: 0px auto;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000316}}
a, a:link, a:visited {
  text-decoration: none;
  color: #70808d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000320}}
a:hover, a:active {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000324}}
#container {
  width: 962px;
  margin: 15px auto;
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000327}}
  body.admin-menu #container {
    margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000331}}
  #container #header {
    background: url(/images/theme/container-top.png) no-repeat top left;
    height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000335}}
    #container #header #logo {
      padding-left: 45px;
      padding-top: 30px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000341}}
    #container #header #main-menu {
      float: right;
      margin-right: 38px;
      display: inline;
      border-bottom: 2px solid #70808d;
      padding-bottom: 12px;
      padding-top: 28px;
      padding-right: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000349}}
      #container #header #main-menu li {
        float: left;
        margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000352}}
        #container #header #main-menu li:first-child {
          margin-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000355}}
        #container #header #main-menu li a {
          display: inline-block;
          padding-right: 8px;
          font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000359}}
          #container #header #main-menu li a span {
            display: block;
            padding-left: 6px;
            padding-top: 2px;
            padding-bottom: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000366}}
        #container #header #main-menu li a.active {
          background: url(/images/theme/menu-active.gif) no-repeat 100% 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000368}}
          #container #header #main-menu li a.active span {
            background: url(/images/theme/menu-active.gif) no-repeat 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000376}}
  #container #content {
    min-height: 300px;
    background: url(/images/theme/container-middle.png) repeat-y top left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000380}}
    #container #content #main-content {
      clear: both;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000388}}
  #container #footer {
    padding-top: 40px;
    background: url(/images/theme/container-bottom.png) no-repeat top left;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 11px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\0000398}}
#sidebar-menu {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\00003100}}
  #sidebar-menu h1, #sidebar-menu h2 {
    font-size: 18px;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\00003104}}
  #sidebar-menu li {
    font-size: 11px;
    line-height: 130%;
    margin-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/davidfurber\/Documents\/jonreis\/app\/stylesheets\/theme\.scss}line{font-family:\00003108}}
    #sidebar-menu li.active a {
      font-weight: bold; }
