#sidebar-menu
  - if resource.show_menu_on_sidebar == 1
    %h1= resource.title
    %ul
      - resource.public_children(current_user).each do |page| 
        = sidebar_menu_link_to page 
  - else
    - if resource.parent and not resource.parent.parent_id.nil? 
      %h2= link_to resource.parent.title, resource.parent.path
    %ul
      - resource.public_siblings(current_user).each do |page| 
        = sidebar_menu_link_to page 
